<h1><%= I18n.t('headers.events') %></h1>
<div class="buffer-both">
  <%= link_to I18n.t('links.create'), new_event_path, class: 'btn btn-success' %>
</div>
<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
