<p><%= t('mail.greeting') %></p>
<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('mail.greeting', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('mail.greeting', email: @resource.email) %></p>
<% end %>
