<p><%= t('mail.greeting') %></p>
<p>Кто-то сделал запрос на изменение вашего пароля. Вы можете сделать это по ссылке ниже.</p>
<p>Если вы не делали этого запроса, просто пригнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, пока вы не перейдете по ссылке и не создадите новый.</p>
<p><%= link_to t('links.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>
